.background { fill:#FFFFE7; }

text       { font-family:Times; font-size:12px;}
text.title { font-size:16px; }
text.copy  { text-decoration:underline;    }
text.paste { stroke: none; fill:blue;    }

polyline { stroke:black; fill:none; }
.border  { stroke:black; fill:none; }
.border  { stroke:black; fill:url(#grad1); }
.vgrid   { stroke:gray;  stroke-dasharray:2,6; }
.hgrid   { stroke:gray;  stroke-dasharray:2,6; }
.pasted  { stroke:black; stroke-dasharray:1,1; }

.l0 { stroke:red;     }  text.l0 { stroke:none; fill:#ff0404; }
.l1 { stroke:blue;    }  text.l1 { stroke:none; fill:blue;    }
.l2 { stroke:green;   }  text.l2 { stroke:none; fill:green;   }
.l3 { stroke:#404040; }  text.l3 { stroke:none; fill:#404040; }
.l4 { stroke:brown;   }  text.l4 { stroke:none; fill:brown;   }
.l5 { stroke:black;   }  text.l5 { stroke:none; fill:black;   }
.l6 { stroke:olive;   }  text.l6 { stroke:none; fill:olive;   }
.l7 { stroke:gray;    }  text.l7 { stroke:none; fill:gray;    }
.l8 { stroke:yellow;  }  text.l8 { stroke:none; fill:yellow;  }

.l0fill{ stroke:#303030;fill:#ff6060;  }  text.l0fill{ stroke:none; fill:#ff6060; }
.l1fill{ stroke:#808080;fill:#a0a0ff;  }  text.l1fill{ stroke:none; fill:#a0a0ff; }
.l2fill{ stroke:#303030;fill:#a0ffa0;  }  text.l2fill{ stroke:none; fill:#a0ffa0; }
.l3fill{ stroke:#404040;fill:#a0a0a0; }  text.l3fill{ stroke:none; fill:#404040; }
.l4fill{ stroke:#ff0; fill:url(#gr_4); }  text.l4fill{ stroke:none; fill:#ff0; }
.l5fill{ stroke:#0ff; fill:url(#gr_5); }  text.l5fill{ stroke:none; fill:#0ff; }
.l6fill{ stroke:#000; fill:url(#gr_6); }  text.l6fill{ stroke:none; fill:#000; }
.l7fill{ stroke:#0ff; fill:url(#gr_5); }  text.l7fill{ stroke:none; fill:#0ff; }
.l8fill{ stroke:#000; fill:url(#gr_6); }  text.l8fill{ stroke:none; fill:#000; }
